# =========================
# Conda and environment files
# =========================
Miniconda3-*.sh
*.conda
*.env/

# Ignore local environments
bakta-env/
busco_results_1/
db-light/

# Ignore swap files
*.swp

# Ignore personal docs
*.docx

# =========================
# Raw genome and assembly data
# =========================
genomes_raw/
assemblies/

# =========================
# macOS system files
# =========================
.DS_Store

# =========================
# BUSCO outputs
# =========================
# Ignore all BUSCO raw outputs
busco_results/*
# Keep only the summary TSV
!busco_results/BUSCO_summary.tsv

# =========================
# Scripts to track
# =========================
!scripts/run_busco.sh
!scripts/parse_busco_summaries.sh
!scripts/download_genomes.sh
!scripts/generate_assembly_stats.sh

# Track these folders
!genomes_annotated/
!qc_results/
!results_core/

# =========================
# Junk folders & logs
# =========================
busco_downloads/
some_folder/
test_run/
*.log
__pycache__/
*.pyc



