# Conda installer
Miniconda3-*.sh

# Downloaded genome data
assemblies/
genomes_raw/

# macOS system files
.DS_Store

# Ignore raw genome data
genomes_raw/
assemblies/

# Ignore all BUSCO raw outputs
busco_results/*

# But keep the summary file
!busco_results/BUSCO_summary.tsv

# Ignore Conda envs and caches
*.conda
*.env/
__pycache__/
*.pyc

# Track only scripts and BUSCO results
!run_busco.sh
!parse_busco_summaries.sh
!download_genomes.sh
!busco_results/

